@model IEnumerable<CentTask1.ViewModels.ProjectViewModels.ProjectGetViewModel>
@{
    Layout = null;
}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />

<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css" />

<style>
    div.dataTables_filter {
        padding: 0px;
        float: right;
        text-align: start;
    }
    div.dataTables_filter input {
        float: left;
    }
    div.dataTables_paginate {
        margin-top: 23px;
        float: right;
    }
    div.dataTables_info {
        margin-top: 23px;
        float: left;
    }
    div.dataTables_length {
        float: left;
        width: 100px;
    }

    div.dt-buttons {
        float: none;
        text-align: left;
    }
    .button {
        display: flex;
        justify-content: flex-end;
    }

</style>

@* Modal (larger) *@
<div>
    <div class="modal fade" id="createOrEditProject" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-custom" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-info" id="projectModalTitle"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="projectModalBodyContent"></div>
            </div>
        </div>
    </div>
</div>

<h1 class="text-align-center mt-5">List of Projects</h1>
<p class="button">
    <a href="#" class="btn btn-primary openProjectModal" >Create Project</a>
</p>

<!-- Wrap table in a position-relative container so spinner overlays the table body -->
<div id="projectTableWrapper" class="position-relative">
    <table class="table table-hover table-bordered align-middle" id="myProjectTable">
        <thead class="bg-info text-light">
            <tr>
                <th style=" text-align : center;">@Html.DisplayNameFor(model => model.ProjectName)</th>
                <th style=" text-align : center;">@Html.DisplayNameFor(model => model.Description)</th>
                <th style=" text-align : center;">@Html.DisplayNameFor(model => model.StartDate)</th>
                <th style=" text-align : center;">@Html.DisplayNameFor(model => model.EndDate)</th>
                <th style=" text-align : center;">@Html.DisplayNameFor(model => model.Budget)</th>
                <th style=" text-align : center;">@Html.DisplayNameFor(model => model.ClientName)</th>
                <th style=" text-align : center;">@Html.DisplayNameFor(model => model.Manager)</th>
                <th style=" text-align : center;">@Html.DisplayNameFor(model => model.Status)</th>
                <th style=" text-align : center;">Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div id="Spinner" class="text-center my-4" style="display:none;">
        <div class="spinner-border text-info" role="status" style="width: 3rem; height: 3rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
