@model IEnumerable<CentTask1.DTO.ProjectDto.GetProjectDto>
@{
    Layout = null;
}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />

<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.min.css" />

<link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css" />
<style>
    div.dataTables_filter {
        padding: 0px;
        float: right;
        text-align: start;
    }

        div.dataTables_filter input {
            float: left;
        }

    div.dataTables_paginate {
        margin-top: 23px;
        float: right;
    }

    div.dataTables_info {
        margin-top: 23px;
        float: left;
    }

    div.dataTables_length {
        float: left;
        width: 100px;
    }

    .button {
        display: flex;
        justify-content: flex-end;
    }

    .modal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1300px;
    }

    .modal-div {
        /* border:22px solid orange     ; */
    }

    .modal-content {
        width: 858px;
        /* border:12px solid red; */
    }
     
</style>



@* modal *@
<div class="w-75">

    <div class="modal fade " id="createOrEditProject">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-info" id="modalTitle">Task</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body" id="projectModalBodyContent">

                </div>
            </div>

        </div>

    </div>
</div>
<h1 class="text-align-center mt-5">List of Projects</h1>
<p class="button">
    <a href="#" class="btn btn-primary openProjectModal"  >Create Project</a>
</p>

   

<table class="table table-hover table-bordered align-middle" id="myProjectTable">
    <thead class="bg-info text-light">
        <tr>
            <th style=" text-align : center;">@Html.DisplayNameFor(model => model.Name)</th>
            <th style=" text-align : center;">@Html.DisplayNameFor(model => model.Description)</th>
            <th style=" text-align : center;">@Html.DisplayNameFor(model => model.StartDate)</th>
            <th style=" text-align : center;">@Html.DisplayNameFor(model => model.EndDate)</th>
            <th style=" text-align : center;">@Html.DisplayNameFor(model => model.Budget)</th>
            <th style=" text-align : center;">@Html.DisplayNameFor(model => model.ClientName)</th>
            <th style=" text-align : center;">@Html.DisplayNameFor(model => model.Manager)</th>
            <th style=" text-align : center;">@Html.DisplayNameFor(model => model.Status)</th>
            <th style=" text-align : center;">Actions</th>
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>

@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> *@
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/js/site.js" asp-append-version="true"></script>



<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

