@model CentTask1.ViewModels.TaskViewModels.TaskDetailViewModel

<div>
 
    <dl class="row">
        <div class="col-md-6 ">
            <dt class="text-start">
                @Html.DisplayNameFor(model => model.TaskName)
        </dt>
            <dd class="text-start">
                @Html.DisplayFor(model => model.TaskName)
        </dd>

        </div>

        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
            <dd class="text-start">
                @Html.DisplayFor(model => model.Description)
        </dd>

        </div>


        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
            <dd class="text-start">
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        </div>


        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
            <dd class="text-start">
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        </div>


        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
            <dd class="text-start">
                @Html.DisplayFor(model => model.Priority)
        </dd>

        </div>
        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
            <dd class="text-start">
                @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

        </div>

        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.EquipmentType)
        </dt>
            <dd class="text-start">
            @Html.DisplayFor(model => model.EquipmentType)
        </dd>

        </div>


        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.TWR)
        </dt>
            <dd class="text-start">
            @Html.DisplayFor(model => model.TWR)
        </dd>

        </div>
        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
            <dd class="text-start">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        </div>
        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
            <dd class="text-start">
                @Html.DisplayFor(model => model.Status)
        </dd>

        </div>


    </dl>
</div>
