@model IEnumerable<CentTask1.ViewModels.TaskViewModels.TaskGetViewModel>
@{
    Layout = null;
}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />

<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.min.css" />

<link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.dataTables.css" />


<style>
    div.dataTables_filter {
        padding:0px;
        float:right;
        text-align:start;
    }
    div.dataTables_filter input {
           float:left;
        }

    div.dataTables_paginate {
        margin-top:23px;
        float:right;
    }

    div.dataTables_info{
        margin-top:23px;
        float:left;
    }

    div.dataTables_length{
        float:left;
        width:100px;
    }

    div.dt-buttons {
        float: none;
        text-align: left;
    }
    .button{
        display:flex;
        justify-content:flex-end;
    }
    .TaskButton{
        border: 2px solid green;
        border-radius: 45px;
        padding: 8px 29px;
        font-size: 16px;
    }
</style>

<h1 class="mt-5">Lists of Tasks</h1>

@* modal (larger, centered) *@
<div>
    <div class="modal fade createOrEditModal" id="createOrEditModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-custom" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-info" id="modalTitle">Task</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBodyContent"></div>
            </div>
        </div>
    </div>
</div>

<p class="button">
    <!-- Create -->
    <a href="#" class="btn btn-success TaskButton openTaskModal" data-url="Tasks/CreateProjectTask" data-id="">Add Task</a>
</p>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-bordered align-middle" id="myTable">
            <thead class="bg-info text-light">
                <tr>
                    <th style=" text-align : center;">@Html.DisplayNameFor(model => model.TaskName)</th>
                    <th style=" text-align : center;">@Html.DisplayNameFor(model => model.Description)</th>
                    <th style=" text-align : center;">@Html.DisplayNameFor(model => model.StartDate)</th>
                    <th style=" text-align : center;">@Html.DisplayNameFor(model => model.EndDate)</th>
                    <th style=" text-align : center;">@Html.DisplayNameFor(model => model.Priority)</th>
                    <th style=" text-align : center;">@Html.DisplayNameFor(model => model.EquipmentType)</th>
                    <th style=" text-align : center;">@Html.DisplayNameFor(model => model.TWR)</th>
                    <th style=" text-align : center;">@Html.DisplayNameFor(model => model.ProjectName)</th>
                    <th style=" text-align : center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @* Data rows are loaded via JS *@
            </tbody>
        </table>
    </div>
</div>
@* loader *@
<div id="Spinner" class="text-center my-4" style="display:none;">
    <div class="spinner-border text-info" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
