@model CentTask1.Models.ProjectTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipmentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TWR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TWR)
        </dd>
    </dl>
</div>
<div class="mt-2">
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.id">Edit</a> 
    <a class="btn btn-info" asp-action="GetAllTasks">Back to List</a>
</div>
