@model CentTask1.Models.ProjectTask

<div>
 
    <dl class="row">
        <div class="col-md-6 ">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.name)
        </dt>
            <dd class="text-start">
            @Html.DisplayFor(model => model.name)
        </dd>

        </div>

        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.description)
        </dt>
            <dd class="text-start">
            @Html.DisplayFor(model => model.description)
        </dd>

        </div>


        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
            <dd class="text-start">
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        </div>


        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
            <dd class="text-start">
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        </div>


        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.priority)
        </dt>
            <dd class="text-start">
            @Html.DisplayFor(model => model.priority)
        </dd>

        </div>


        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.AssignedTo)
        </dt>
            <dd class="text-start">
            @Html.DisplayFor(model => model.AssignedTo)
        </dd>

        </div>


        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.EquipmentType)
        </dt>
            <dd class="text-start">
            @Html.DisplayFor(model => model.EquipmentType)
        </dd>

        </div>


        <div class="col-md-6">
            <dt class="text-start">
            @Html.DisplayNameFor(model => model.TWR)
        </dt>
            <dd class="text-start">
            @Html.DisplayFor(model => model.TWR)
        </dd>

        </div>


    </dl>
</div>
